body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h2, h3, h4, h5, h6 {
    color: #2E2F42;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul, li {
margin: 0;
padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header {
    border-bottom: 1px solid #E7E9FC;
    background-color: #ffffff;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
display: flex;
align-items: center;
}

.logo-blue {
    color: #4D5AE5;
}
.logo .logo-black {
    color: #2E2F42;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu .link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .link.current {
    color: #404bbf;
}
.menu .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.menu .link:hover,
.menu .link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.contacts ul{
    display: flex;
    gap: 40px;
}
.contacts .info {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .info:hover,
.contacts .info:focus {
    color: #404bbf;
}
.effective {
    background-color: #2E2F42;
    padding: 188px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.effective h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}
.effective .order {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.effective .order:hover,
.effective .order:focus {
    background-color: #404bbf;
}
.features {
    padding: 120px 0;
}
.features ul {
    display: flex;
    gap: 24px;
}
.features li {
    width: calc((100% - 72px) / 4);
}
.features h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.features p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-icon {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
}
.features-icon svg {
    fill: #8E8F99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    clip-path: inset(100%);
    white-space: nowrap;
}
.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-section h2 {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team {
    display: flex;
    gap: 24px;
}
.team-info {
    padding: 32px 16px;
    text-align: center;
}
.team-person {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    width: calc((100% - 72px) / 4);
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-person img {
    display: block;
    width: 100%;
    height: auto;
}
.team-person h3 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-person p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-list li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list a:hover,
.social-list a:focus {
    background-color: #404bbf;
}
.social-list a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    fill: #f4f4fd;
}
.our {
    padding: 120px 0;
}

.our h2 {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img img {
    display: block;
    width: 100%;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-content h3 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-content {
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-info .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-info p {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-white {
    color: #f4f4fd;
}
.footer-social-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-list li {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-social-link svg {
    fill: #f4f4fd;
}
.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}
.footer-subscribe-form {
    display: flex;
    gap: 24px;
}
.footer-subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.footer-subscribe-input::placeholder {
    color: #ffffff;
}
.footer-subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #404bbf;
}
.footer-subscribe-button svg {
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
}
.modal-close svg {
    fill: #2e2f42;
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}
.modal-input-wrap {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.checkbox-input {
    position: absolute;
    opacity: 0;
}
.checkbox-label {
    font-size: 12px;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-input:checked+.checkbox-label .checkbox-icon {
    background-color: #4d5ae5;
    border: none;
}
.checkbox-icon svg {
    fill: #f4f4fd;
}
.modal-submit {
    display: block;
    margin: 24px auto 0;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}